/*================================================
    POPUP
================================================*/
.popup {
    display: block;
    min-width: 420px;
    min-height: 600px;
    overflow: hidden;
    color: #000;
    background-color: #fff;

    * {
        display: block;
        height: 600px;
        width: 420px;
    }

    &__inner {
        background: url(../assets/images/icons/spinner.svg) no-repeat center / 60px 60px;
    }
}
