/*================================================
    POPUP
================================================*/
.popup {
    display: block;
    min-width: 420px;
    min-height: 600px;
    overflow: hidden;
    background-color: #fff;

    * {
        display: block;
        height: 100vh;
        width: 100vw;
    }

    &__inner {
        background: url("../assets/images/icons/spinner.svg") no-repeat center / 60px 60px;
    }
}
