doctype html
html
	head
		title Dissenter
		meta(charset="utf-8")
		link(href='./popup.css' type='text/css' rel='stylesheet')
	body
		div(class='popup')
			div(class='popup__inner rel')
				iframe(id='popup-iframe' class='popup__iframe abs hidden')
		script(src='./popup.js')
