doctype html
html
    head
        title Dissenter
        meta(charset="utf-8")
        link(href='./sidebar.css' type='text/css' rel='stylesheet')
    body
        div(id='sidebar' class='sidebar')
            div(class='sidebar__inner rel')
                iframe(id='sidebar-iframe' class='sidebar__iframe abs hidden')
        script(src='./sidebar.js')
